{% extends  'base.html' %}

{% block content %}
<div class="container">

    <div class="row">
        {% if images %}
        <h2> Found {{images|length}} results </h2>
        {% else  %}
        <h1>Found 0 results for your search term</h1>
        {% endif %}
    </div>
    <div class="row">
        {% if images %}
        {% for image in images %}
        <div class="col-sm-6 col-md-3">
            <img src="{{image.image.url}}" alt="">
            <h2>{{image.image_description}}
                <br>
                {{image.image_name}}
            </h2>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}